
.dashboard {
    margin: 0;
    height: 100vh;
    width: 100vh;
}

.dashboard-header {
    margin-left: 20px;
    text-transform: capitalize;
}

.dashboard-instructions {
    margin-left: 20px;
}

.column {
    float: left;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;
    box-shadow: 1px 0 2px;
}

.left {
    box-shadow: 1px 0 1px;
}

.left, .right {
    width: 25%;
    background: ghostwhite;
}
  
.middle {
    width: 50%;
    background:snow;
}   

.group-box {
    width:85%;
    height: 50px;
    background:ghostwhite;
    margin: 10px;
    box-shadow: 0.5px 0.5px 0.5px;
    border: 0.8px solid gray;
    border-radius: 5px;
    padding: 15px;
    list-style: none;
    color: black;
    text-transform: uppercase;
}

.voted {
    border: 2.5px solid rgb(8, 230, 45);  
}

.needs-to-vote {
    border: 2.5px solid rgb(230, 8, 8);  
}

.group-box:hover {
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 2px;
}

.top-row {
    display: inline-block;
}

.create-group, .find-friends {
    color: black;
    border: 0.5px solid black;
    padding: 8px;
    border-radius: 10px;
} 

.decorative-button {
    height: 30px;
    color: black;
    border: 0.5px solid black;
    padding: 4px;
    border-radius: 10px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.create-group:hover, .find-friends:hover {
    text-decoration: none;
    box-shadow: 2px 2px 2px;
    font-weight: bold;
    color: black;
}

.find-create-buttons {
    margin-left: 20px;
}

@media screen and (max-width: 850px) {
    .group-box {
        height: 100px;
    }
}

@media screen and (max-width: 500px) {
    .column {
        float: none;
        height: 500px;
        padding-top: 30px;
        text-align: center;
    }

    .left {
        height: 200px;
    }

    .group-box {
        height: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .left, .right {
        width: 100%;
    }

    .middle {
        width: 100%;
    }   
}

@media screen and (max-width: 500px) {
    .column {
        float: none;
        height: 500px;
        padding-top: 30px;
        text-align: center;
    }

    .left {
        height: 200px;
    }

    .group-box {
        height: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .left, .right {
        width: 100%;
    }

    .middle {
        width: 100%;
    }   
}


@media screen and (min-width: 1500px) {
    .row {
        margin-top: 60px;
    }

    .group-box {
        height: 70px;
    }

    .group-box > p {
        font-size: 22px;
    }

    .top-row > h5 {
        font-size: 22px;
    }

    .dashboard-header > h3 {
        font-size: 40px;
        text-align: center;
    }

    .column {
        padding-top: 25px;
    }
}

