
.title-section-container {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.vote-button-section {
    width: 30%;
    margin-top: 30px;
    display: inline-block;
}

.delete-section {
    width: 30%;
    margin-top: 30px;
    display: inline-block;
}

.group-page-title > h4 {
    text-transform: uppercase;
    margin-top: 80px;
}

.member-section {
    text-align: center;
    clear: both;
}

.member-card-container {
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: 25%;
}

.member-card {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    text-transform: capitalize;
}

@media screen and (max-width: 500px) {
    .member-card-container {
        width: 90%;
        display: block;
    }
    .member-card {
        width: 90%;
        display: block
    }
    .delete-section {
        width: 50%;
    }
    
}