* {
    box-sizing: border-box;
}

.title {
    height: 100vh;
    box-shadow: 0 4px 2px -2px;
}

.title-div {
    height: 90%;
    display: table;
    width: 100%
}

.landing-section {
    text-align: center;
}

.landing-paragraph {
    font-size: 16px;
}

.landing-h1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 90px;
    color: rgb(239, 242, 247);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header {
    padding: 20px 10px;
}
  
.first {
    padding: 20px 10px;
    background-color: ghostwhite;
    text-align: center;
}

.second {
    background-color: ghostwhite;
}

.section1 {
    display: inline-block;
}

.food {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 2px;
}

.home-text1, .home-text3 {
    margin-right: 40px;
    vertical-align: middle;
}

.home-text2 {
    margin-left: 40px;
    vertical-align: middle;
}

.login-section {
    margin-top: 30px;
    margin-bottom: 50px;
}

.login-section > h2 {
    margin-bottom: 30px;
}

.pre-login {
    box-shadow: 0 4px 2px -2px gray;
}