.login-button {
    color: antiquewhite;
    border: 0.5px outset gray;
    background-color: rgb(192, 56, 22);
    padding: 10px;
}

.login-button:hover {
    box-shadow: 2px 2px 2px, rgb(15, 15, 15);
}