* {
    box-sizing: border-box;
}

.main-nav {
    position: fixed;
    height: 10%;
    padding: 1% 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgb(192, 56, 22);
    box-shadow: 0.6px 0.6px 0.6px;
}

.main-nav-icon {
    position: fixed;
    height: 10%;
    padding: 1% 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgb(192, 56, 22);
    box-shadow: 0.6px 0.6px 0.6px;
    display: none;
}

.icon-menu {
    margin-left: 95%;
}

.nav-ul {
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

 .main-nav ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

.main-nav-icon ul li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
  }

.nav-li {
    margin-right: 15px;
    display: inline;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.nav-li > button {
    border: none;
    background-color: rgb(192, 56, 22);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: antiquewhite;
    padding-bottom: 4px;
}

.nav-li > button:hover {
    font-size: 33px;
}

.nav-li > a:hover {
    text-decoration: none;
    font-size: 33px;
    color: antiquewhite; 
}

@media screen and (max-width: 500px) {
    .main-nav {
       display: none;
    }
    
    .main-nav-icon {
        display: unset;
    }

    .icon-menu {
        padding: -20px;
        margin-left: 85%;
    }

    .nav-li-icon > button, .nav-li-icon > a {
        background-color: none;
        color: black;
        font-weight: bold;
        font-size: 20px;
        margin: 0;
    }

    .nav-li-icon > button {
        background-color: white;
        border: none;
        margin: auto;
    }

    .nav-li-icon > button:hover {
        text-decoration: underline;
    }
}
