* {
    box-sizing: border-box;
}

.main-nav {
    position: fixed;
    height: 10%;
    padding: 1% 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: lightseagreen;
    box-shadow: 0.6px 0.6px 0.6px;
}

.nav-ul {
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

 .main-nav ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}

.nav-li {
    margin-right: 15px;
    display: inline;
}

a {
    text-decoration: none;
}

