.options {
    display: inline-block;
}

.find-create-buttons {
    background-color: #AEAEB1;
    margin-bottom: 8px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px;
    height: 45px;
}

.find-create-buttons:hover {
    box-shadow: 2px 2px 2px;
    border: 1px solid black;
}

.find-friends, .create-group {
    color: black;
    display: inline-block;
    width: 100%;
    line-height: 45px;
    padding: 1px;
    padding-left: 8px;
    padding-right: 8px;
}

