.friend-li {
    list-style: none;
}

.friend-box {
    width:85%;
    height: 50px;
    background:snow;
    margin: 10px;
    box-shadow: 0.5px 0.5px 0.5px;
    border: 0.8px solid gray;
    border-radius: 5px;
    padding: 15px;
    text-transform: capitalize;
}

.friend-box:hover {
    box-shadow: 2px 2px 2px;
    font-weight: bold;
}

